{
  "$schema": "https://ui.shadcn.com/schema.json",
  "style": "base-nova",
  "rsc": true,
  "tsx": true,
  "tailwind": { "config": "", "css": "app/globals.css", "baseColor": "neutral", "cssVariables": true },
  "aliases": { "components": "@/shared", "ui": "@/shared/ui", "utils": "@/shared/utils", "lib": "@/lib", "hooks": "@/hooks" }
}
